.App {
  text-align: center;
  background-color: #767c83;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-image: url("../src/assets/3906276.jpg");
  background-size: cover;
  background-color: #cccccc; /* if image is unavailable */
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #e0bfb8;
  margin: 0;
  padding: 0;
}

.Nav-link {
  color: #e0bfb8;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.headshot {
  height: 400px;
  width: 400px;
}
.bio-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #e0bfb8;
  font-weight: 700;
  font-family: "Courgette", cursive;
}
