@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Roboto&display=swap");

:root {
  --primary-rose-gold: #b3746b;
  --secondary-smoke: #767c83;
  --tertiary-white: #ffffff;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Dancing Script", cursive;
  font-family: "Roboto", sans-serif;
  background-color: var(--secondary-smoke) !important;
}

/* .App {
  text-align: center;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--primary-rose-gold);
  margin: 0;
  padding: 0;
  background-color: var(--secondary-smoke) !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* .Navi {
  font-weight: 700;
  font-size: calc(10px + 2vmin);
  text-decoration: ;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #515355;
  color: #e0bfb8;
} */

.headshot {
  height: 400px;
  width: 400px;
  border: solid 3px var(--tertiary-white);
}
.bio-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--primary-rose-gold);
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}

/******** Navi Styles ********/
navbar a.nav-link {
  font-weight: 700;
  letter-spacing: 0.75rem;
  cursor: pointer;
}
.navbar-dark .navbar-nav .nav-link {
  color: var(--primary-rose-gold) !important;
  font-size: 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  font-family: "Roboto", sans-serif;
}
.carousel-wrapper {
  margin: 10px;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-content: center;
  border: solid 4px var(--primary-rose-gold);
}
.app-description {
  background-color: var(--secondary-smoke);
  border: solid 4px var(--primary-rose-gold);
  color: var(--tertiary-white);
  font-size: 2rem;
}
.carousel-control-next,
.carousel-control-prev {
  color: var(--secondary-smoke) !important;
}
/*------------------- Contact Form Styles-----------------*/
.contact-me {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.title-box {
  text-align: center;
  color: var(--secondary-smoke);
  background-color: var(--tertiary-white);
  font-family: "Courgette", cursive;
  font-weight: 700px;
}
.contact-form-wrapper {
  padding: 20px;
  background-color: var(--tertiary-white) !important;
  width: 70%;
  border: solid 5px var(--primary-rose-gold);
  align-content: center;
}
form {
  color: var(--primary-rose-gold);
  font-weight: 700px;
  font-size: 1.5rem;
  background-color: var(--tertiary-white) !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact-label {
  justify-content: left;
}
form button {
  border: solid 4px var(--secondary-smoke) !important;
  background-color: var(--primary-rose-gold) !important;
  margin-bottom: 20px;
  width: 300px;
}
